body {
    font-family: 'Raleway', 
    sans-serif;
}
header {
    background-color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    font-weight: 500;
    color: #0065FC;
    padding-top: 20px;
    border-top: 2px solid transparent;
    text-decoration: none;
}

nav ul li a {
    color: #000; 
    text-decoration: none; 
    padding: 20px;
    border-top: 2px solid transparent; 
    transition: border-top 0.3s ease; 
}

nav ul li a:hover {
    border-top: 2px solid #0065FC; 
    color: #0065FC; 
}

form {
    display: flex;
    flex-direction: row
  }

  .formulaire-rechercher {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content; 
}

.formulaire-rechercher i {
    background-color: #F2F2F2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
}

.formulaire-rechercher input {
    border: none;
    padding: 10px;
    outline: none;
}
  .formulaire-rechercher button {
    background-color: #0065FC; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border-radius: 5px; 
    cursor: pointer; 
}

  input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 280px; 
    transition: border-color 0.3s;
  }
 
  .ligne-filtres {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .filtres {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .contenair-filtre {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .contenair-filtre i {
    color: #0065FC;
    font: size 1px;; 
}

.contenair-filtre h3 {
    margin: 0;               
}

.main-containair {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
 
  .hebergements {
    background-color: #f5f5f5;
    padding: 10px;
    flex: 3;
    justify-content: start;
    max-height: 400px; 
    overflow-y: auto; 
  }
  
  
  .populaires {
    background-color: #f5f5f5;
    padding: 20px;
    flex: 1;
  }
  
  
  .hebergements .cards-containair {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 15px; 
    align-items: start; 
  }
  
  
  
  .populaires .cards-containair {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

.card {
    width:150px ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;  
    background-color: #fff;
    padding: 10px;px;
  }
  

.card img {
    width: 100%;  
    height: 100px; 
    object-fit: cover;  
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px;  
}

  
 